[board_pins]
aliases:
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]
lcd_type: uc1701
display_group: _default_128x64
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1
pwm: False
value: 0

[neopixel Screen_Colour]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.5
initial_GREEN: 0.4
initial_BLUE: 0.7

# --- SCREEN LAYOUT ---

# 1. Extruder (Top Left)
[display_data _default_128x64 extruder]
position: 0, 0
text:
  {% set active_extruder = printer.toolhead.extruder %}
  { render("_heater_temperature", param_heater_name=active_extruder) }

# 2. Fan (Top Right)
[display_data _default_128x64 fan]
position: 0, 10
text:
  { render("_fan_speed") }

# 3. Bed (Middle Left)
[display_data _default_128x64 heater_bed]
position: 1, 0
text:
  { render("_heater_temperature", param_heater_name="heater_bed") }

# 4. Feed Rate (Middle Right)
[display_data _default_128x64 speed_factor]
position: 1, 10
text:
  ~feedrate~
  { "{:^4.0%}".format(printer.gcode_move.speed_factor) }

# 5. Progress Bar (Bottom)
[display_data _default_128x64 print_status]
position: 2, 0
text:
  { render("_print_status") }

# 6. Coordinates (Bottom Row: X, Y, and Z)
[display_data _default_128x64 Z_Text]
position: 3, 0
text:
  X{ "%.0f" % printer.toolhead.position.x } Y{ "%.0f" % printer.toolhead.position.y } Z{ "%.2f" % printer.toolhead.position.z }